*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: auto;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 0%, rgba(227, 255, 248, 0.60) 100%);
}
.page{
  width: 1000px;
  margin: 0 auto ;
  padding-top: 65px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;
}

nav ul{
  font-family: 'Mulish', sans-serif ;
  display: flex;
  gap: 48px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  opacity: 0.6;
  color : #1F1534
}
ul li a:hover{
  color: #5900CC;
  font-weight: bold;
  transition : 0.8s;
  opacity: 2;
}
main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.text h1{
  font-family: 'Mulish',sans-serif;
  color: #1F1534;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  width: 490px;
  
}
.text h1 span{
  color: #89C5CC;
  font-weight: 700;
  transition: 0.8s;
}
.text h1 span:hover{
  color: #5900CC;
  transition: 0.8s;
}

.text p {
  color: #7D7987;
  width:438px ;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
  margin: 40px 0;
}

.text p strong{
  color: #7D7987;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
 
}

.text button{
  display: inline-flex;
  font-family: 'Open Sans';
  width:179px ;
  height: 56px;
  padding: 14px 32px 15px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #FFF;
  background-color:#69B99D ;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  transition: 0.8s;
}
.text button:hover{
  background-color: #5900CC;
  transition: 0.8s;
}
footer{
  margin-top: 30px;
  color: #1F1534;;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
  text-align: center;
}

footer a {
  color: #1F1534;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;  
  line-height: 28px;
}

.balls{
  position: absolute;
  bottom: 0;
  right: 0;
}


